@model Art.Models.IndexViewModel

@{
  Layout = "~/Views/Shared/_Admin/_Layout.cshtml";
  ViewData["Title"] = "Slayt Ekle";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-lg-6">
          <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-lg-6 text-right">
          <a href="/admin/slide" class="btn btn-app bg-success">
            <i class="fas fa-list"></i> Liste
          </a>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <form method="post" action="/admin/slide/save" enctype="multipart/form-data">
                 @Html.AntiForgeryToken()
                <div class="card-body">

                  <div class="form-group">
                    <label asp-for="File">Resim</label>
                    <input type="file" asp-for="File" name="File" class="form-control"  placeholder="Dosya seçiniz">
                    <span asp-validation-for="File" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                    <label asp-for="Order">Sira No</label>
                    <input type="text" asp-for="Order" name="Order" class="form-control" placeholder="Sira No">
                   <span asp-validation-for="Order" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                    <label asp-for="Title">Baslik</label>
                    <input type="text" asp-for="Title" name="Title" class="form-control" placeholder="Baslik">
                   <span asp-validation-for="Title" class="text-danger"></span>
                  </div>
                  
                 <div class="form-group">
                    <label asp-for="Subtitle">Manset</label>
                    <textarea name="Subtitle" asp-for="Subtitle" class="form-control" rows="3" placeholder="Manset"></textarea>
                   <span asp-validation-for="Subtitle" class="text-danger"></span>
                  </div>

                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                    <label asp-for="Url">Url</label>
                    <input type="text" asp-for="Url" name="Url" class="form-control" placeholder="Url">
                   <span asp-validation-for="Url" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                    <label asp-for="Target">Hedef</label>
                    <select name="Target" asp-for="Target" class="form-control">
                      <option>_self</option>
                      <option>_blank</option>
                    </select>
                   <span asp-validation-for="Target" class="text-danger"></span>
                  </div>
                    </div>
                  </div>

                  
                  
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>