@model Art.Models.IndexViewModel;

<div class="side">
    <h2 class="sidebar-heading">E-Bulten</h2>
    <p>Bizimle ilgili tum etkinlik ve yeniliklerden haberdar almak icin Lutfen E-Biltenimize kaydolun</p>
 <form action="/subscribe" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input asp-for="Name" type="text" name="Name" class="form-control form-email"  
        placeholder="Adiniz *">
        <span asp-validation-for="Name" class="text-danger"></span>
     </div>   
    <div class="form-group">
        <input asp-for="Email" type="email" name="Email" class="form-control form-email"  
        placeholder="E-mail adresiniz! *">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-subscribe">Kaydol</button>
    </div>
  </form>

  @if (TempData["SuccessSubscribe"] != null)
	{
		<div class="alert alert-success" role="alert">
			@TempData["SuccessSubscribe"]
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				 <span aria-hidden="true">&times;</span>
				</button>
		</div>
	}
  @if (TempData["DangerSubscribe"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@TempData["DangerSubscribe"]
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>
	}
        
</div>