@model Art.Models.IndexViewModel

<div class="sidebar">

    <div class="side">
        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Enter any key to search...">
            <button type="submit" class="btn btn-primary"><i class="icon-search3"></i></button>
        </div>
    </div>
    <div class="side">
        <h2 class="sidebar-heading">Kategori</h2>
        <p>
        @if (Model.Workcats!=null)
        {
           <ul class="category">
            @foreach (var item in Model.Workcats)
            {
                 <li class='@(Model.Work!.Catid==item.Id?"active":"")'><a href="/workcat/@Methods.GenerateUrl(item.Title!)/@item.Id"><i class="icon-check"></i> @item.Title <span class="badge">@Model.AllWorks!.Where(x=>x.Catid==item.Id).Count()</span></a></li>
            }
           </ul>
        }    
        
        </p>
    </div>


</div>

    @{
        await Html.RenderPartialAsync("_Subscribe");
    }

</div>